<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::div.container})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<!-- Section: Inputs -->
      <section class="section mb-5">
		<div class="row">
			
            <!-- Grid column -->
            <div class="col-md-6 mb-4 mx-auto">
            <div class="card">
		        
		          <form action="#" th:action="@{/user/profile/update_password}" method="POST">
		          <!-- Section heading -->
		          <div class="card-body">
		          <h1 class="text-center my-5 h1">Update Password</h1>
		          <!-- Grid row -->
	          
					<input type="hidden" name="id" th:value="${user.id}">
					<div class="md-form md-outline">
	                <input type="text" name="new_password" id="new_password"  class="form-control" required="">
	                <label for="new_password" class="">Enter Password</label>
	              </div>
	            </div>
            <!-- Grid column -->
            <!-- Grid column -->
	          
	          <!-- Grid row -->
	          <div class="float-right">
	            <button type="submit" class="btn btn-primary btn-rounded btn-sm px-5 py-2">submit</button>
	          </div>
       		 </form>
       		 </div>
        </div>
        </div>

      </section>
      <!-- Section: Inputs -->

</div>
</body>
</html>