<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="~{admin/adminbase_layout :: myhead}"></th:block>
		<title>Insert title here</title>
	</head>

	<body>
		<div class="container-fluid" th:replace="~{admin/adminbase_layout :: contentDom}">
			<section id="myContent">
				<div class="row">
					<div class="col-md-12 mx-auto" id="formDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Create Post</h4>
									<button type="button" class="btn btn-info btn-sm rounded-0 text-white "
										onclick="recordDomOpen()">Back</button>
								</div>
								<!-- <form action="" th:action="@{/admin/create_maincategory}" method="post" th:object="${maincat}"> -->
								<form id="blog_form">
									<input type="hidden" name="id" id="id">
									<input type="hidden" name="user" id="user">
									<div class="form-group col">
										<label for="title">Title</label>
										<input type="text" name="title" class="form-control" id="title" placeholder="Enter title" />
										<div class="invalid-feedback"></div>
									</div> 
									<div class="row">
										<div class="form-group col">
											<label for="price">Price</label>
											<input type="text" name="price" class="form-control" id="price" placeholder="Enter Price" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="region">Region</label>
											<select name="region" id="region" class="form-select rounded-0 form-control  mt-2"  required="">
											<option disabled="" selected="">Select Region</option>
											<option  value="indeia">India</option>
										</select>
									</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="mainCategory">Main Category</label>
											<select name="mainCategory" id="mainCategory" class="form-select rounded-0 form-control "  required="">
												<option disabled="" selected="">Select Main Category</option>
												<option   th:each="m : ${mainCategories}" th:value="${m.mainCatalog}" th:text="${m.title}"></option>
											</select>
										</div>
										<div class="form-group col">
											<label for="category">Category</label>
											<select name="category" id="category" class="form-select rounded-0 form-control "  required="">
												<option disabled="" selected="">Select Category</option>
												<option   th:each="m : ${subCategories}" th:value="${m.subCatalog}" th:text="${m.title}"></option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="regionState">State</label>
											<select name="regionState" id="regionState" class="form-select rounded-0 form-control "  required="">
												<option disabled="" selected="">Select State</option>
												<option   th:each="m : ${allstates}" th:value="${m.title}" th:text="${m.title}"></option>
											</select>
										</div>
										<div class="form-group col">
											<label for="city">City</label>
											<select name="city" id="city" class="form-select rounded-0 form-control "  required="">
												<option disabled="" selected="">Select City</option>
												<option   th:each="m : ${allCity}" th:value="${m.title}" th:text="${m.title}"></option>
											</select>
										</div>
									</div> 
									<div class="row">
										<div class="form-group">
											<label for="description">Enter about your product</label>
											<textarea type="text" name="description" rows="2" class="form-control rounded-0" id="description"
												placeholder="Seo Content"></textarea>
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label for="address">Enter Address</label>
											<textarea type="text" name="address" rows="2" class="form-control rounded-0" id="address"
												placeholder="Write your Address"></textarea>
											<div class="invalid-feedback"></div>
										</div>
									</div>



									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="createStates()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>

					<div class="col-md-12 mx-auto" id="recordDom">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="card-title text-center">All Post</h4>
									<button type="button" class="btn btn-info btn-sm rounded-0 text-white "
										onclick="formDomOpen()">Create</button>
								</div>
								<table class="table table-strip display" id="states_table">
									<thead>
										<tr>
											<th>#ID</th>
											<th>Image</th>
											<th>img</th>
											<th>Title</th>
											<th>Main Category</th>
											<th>Category</th>
											<th>Desc</th>
											<th>price</th>
											<th>Region</th>
											<th>State</th>
											<th>City</th>
											<th>Address</th>
											<th>UID</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="u : ${blogs}">
											<tr th:id="${u.id}">
												<th><span th:text="${u.id}"></span></th>
												<td th:text="${u.image}"></td>
												<td><img th:src="@{'/image/'+${u.image}}" style="height:25px;width:25px;" /></td>
												<td th:text="${u.Title}"></td>
												<td th:text="${u.mainCategory}"></td>
												<td th:text="${u.category}"></td>
												<td th:text="${u.Description}"></td>
												<td th:text="${u.price}"></td>
												<td th:text="${u.region}"></td>
												<td th:text="${u.regionState}"></td> 
												<td th:text="${u.city}"></td> 
												<td th:text="${u.address}"></td> 
												<td th:text="${u.user.id}"></td> 
												<td class="text-center" >
													<i class="fas fa-trash red-text text-center text-danger" onclick="deleteState(this)"
														style="cursor: pointer;"></i>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>


							</div>
						</div>
					</div>

				</div>
			</section>

		</div>
	</body>
	<th:block th:include="admin/adminbase_layout :: myscript">
	</th:block>
	<script>
		var categoryDT;
		$(document).ready(function () {
			categoryDT = $('#states_table').DataTable({
				"pageLength": 50,
				"layout": {
					topStart: {
						buttons: ['csvHtml5', 'excelHtml5']
						// buttons:['copyHtml5','excelHtml5','csvHtml5','pdfHtml5','print']
					}
				},
				columns: [
					{ "data": 'id' },
					{ "data": 'image' },
					{ "data": 'img' },
					{ "data": 'title' },
					{ "data": 'mainCategory' },
					{ "data": 'category' },
					{ "data": 'description' },
					{ "data": 'price' },
					{ "data": 'region' },
					{ "data": 'regionState' },
					{ "data": 'city' },
					{ "data": 'address' },
					{ "data": 'user' },
					{ "data": 'action' },
				],
				columnDefs: [
					{ visible: true, targets: [2, 3,7,13] },
					{ visible: false, targets: ['_all'] },
				]
			});
			$('#states_table tbody').on('click', 'tr td', function () {
				if ($(this).index() == 3) {
					return false;
				}
				var data = categoryDT.row(this).data();
				// console.log(data);
				formDomOpen();
				$('#id').val(data.DT_RowId);
				$('#user').val(data.user);
				$('#title').val(data.title);
				$('#price').val(data.price);
				$('#region').val(data.region);
				$('#mainCategory').val(data.mainCategory);
				$('#category').val(data.category);
				$('#regionState').val(data.regionState);
				$('#city').val(data.city);
				$('#description').val(data.description);
				$('#address').val(data.address); 
				// alert( 'You clicked on '+$(this).index()+'\'s row' );
			});
		});
		function formDomOpen() {
			$('#blog_form')[0].reset();
			showAndHideAnyDom('#formDom','#recordDom');
		}
		function recordDomOpen() {
			showAndHideAnyDom('#recordDom','#formDom');
		}
		function createStates() {
			let userID=$('#user').val();
			if(!userID){
				userID=1;
			}
			if (formValidate('blog_form')) {
				createPostRequest('blog_form', '/admin/blog/create/'+userID, 'createStatesCB');
			}
		}
		function createStatesCB(r) {
			$('#blog_form')[0].reset();
			console.log('callback', r);
			recordDomOpen();
			let d = r.data;
			d['DT_RowId']=d.id;
			d['img']=`<img src="/image/${d.image}" style="height:25px;width:25px;" />`;
			d['user']=r.userid;
			d['action']='<i class="fas fa-trash red-text text-center text-danger" onclick="deleteState(this)" style="cursor: pointer;"></i>';
			if (r.action == "UPDATE") {
				categoryDT.row(`#${d.id}`).data(d).draw();
			} else {
				categoryDT.row.add(d).draw();
			}

		}
		function deleteState(btn) {
			var id = btn.parentNode.parentNode.id;
			console.log(id);
			createGetRequest('blog_form', '/admin/blog/delete/' + id, 'deleteStateCB');
		}
		function deleteStateCB(r) {
			console.log(r);
			categoryDT.row(`#${r.data}`).remove().draw();
		}

	</script>

</html>