<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="~{admin/adminbase_layout :: myhead}"></th:block>
		<title>Insert title here</title>
	</head>

	<body>
		<div class="container-fluid" th:replace="~{admin/adminbase_layout :: contentDom}">
			<section id="myContent">
				<div class="row">
					<div class="col-md-12 mx-auto" id="formDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Create State</h4>
									<button type="button" class="btn btn-info btn-sm rounded-0 text-white "
										onclick="recordDomOpen()">Back</button>
								</div>
								<!-- <form action="" th:action="@{/admin/create_maincategory}" method="post" th:object="${maincat}"> -->
								<form id="states_form">
									<input type="hidden" name="stateId" id="stateId">
									<div class="form-group mt-3">
										<select name="region" id="region" class="form-select rounded-0 form-control "  required="">
										<option disabled="" selected="">Select Region</option>
										<option  value="indeia">India</option>
									</select>
								</div>
									<div class="row">
										<div class="form-group col">
											<label for="stateName">State Name</label>
											<input type="text" name="stateName" class="form-control" id="stateName"
												placeholder="Sub Category Name" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="title">Title</label>
											<input type="text" name="title" class="form-control" id="title" placeholder="Enter title" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="keyword">Keyword</label>
											<input type="text" name="keyword" class="form-control" id="keyword" placeholder="Enter keyword" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="description">Description </label>
											<input type="text" name="description" class="form-control" id="description"
												placeholder="Enter Description" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="seoTitle">Seo Title</label>
											<input type="text" name="seoTitle" class="form-control" id="seoTitle"
												placeholder="Enter Seo Title" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="seoDescription">Seo Description </label>
											<input type="text" name="seoDescription" class="form-control" id="seoDescription"
												placeholder="Seo Description" />
											<div class="invalid-feedback">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label for="seoContent">Seo Content </label>
											<textarea type="text" name="seoContent" rows="2" class="form-control rounded-0" id="seoContent"
												placeholder="Seo Content"></textarea>
											<div class="invalid-feedback"></div>
										</div>
									</div>



									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="createStates()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>

					<div class="col-md-12 mx-auto" id="recordDom">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="card-title text-center">All States</h4>
									<button type="button" class="btn btn-info btn-sm rounded-0 text-white "
										onclick="formDomOpen()">Create</button>
								</div>
								<table class="table table-strip display" id="states_table">
									<thead>
										<tr>
											<th>#ID</th>
											<th>Image</th>
											<th>Title</th>
											<th>Category</th>
											<th>price</th>
											<th>City</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="u : ${blogs}">
											<tr th:id="${u.id}">
												<th><span th:text="${u.id}"></span></th>
												<td><img th:src="@{'/image/'+${u.image}}" style="height:25px;width:25px;" /></td>
												<td th:text="${u.Title}"></td>
												<td th:text="${u.category}"></td>
												<td th:text="${u.price}"></td>
												<td th:text="${u.city}"></td> 
												<td class="text-center" >
													<i class="fas fa-trash red-text text-center text-danger" onclick="deleteState(this)"
														style="cursor: pointer;"></i>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>


							</div>
						</div>
					</div>

				</div>
			</section>

		</div>
	</body>
	<th:block th:include="admin/adminbase_layout :: myscript">
	</th:block>
	<script>
		var categoryDT;
		$(document).ready(function () {
			categoryDT = $('#states_table').DataTable({
				"pageLength": 50,
				"layout": {
					topStart: {
						buttons: ['csvHtml5', 'excelHtml5']
						// buttons:['copyHtml5','excelHtml5','csvHtml5','pdfHtml5','print']
					}
				},
				columns: [
					{ "data": 'id' },
					{ "data": 'image' },
					{ "data": 'title' },
					{ "data": 'category' },
					{ "data": 'price' },
					{ "data": 'city' },
					{ "data": 'action' },
				],
				columnDefs: [
					{ visible: true, targets: [0, 2,6] },
					{ visible: false, targets: ['_all'] },
				]
			});
			$('#states_table tbody').on('click', 'tr td', function () {
				if ($(this).index() == 3) {
					return false;
				}
				var data = categoryDT.row(this).data();
				console.log(data);
				formDomOpen();
				$('#stateId').val(data.DT_RowId);
				$('#stateName').val(data.stateName);
				$('#title').val(data.title);
				$('#keyword').val(data.keyword);
				$('#description').val(data.description);
				$('#seoTitle').val(data.seoTitle);
				$('#seoDescription').val(data.seoDescription);
				$('#seoContent').val(data.seoContent);
				// alert( 'You clicked on '+$(this).index()+'\'s row' );
			});
		});
		function formDomOpen() {
			showAndHideAnyDom(['formDom'], ['recordDom']);
		}
		function recordDomOpen() {
			showAndHideAnyDom(['recordDom'], ['formDom']);
		}
		function createStates() {
			if (formValidate('states_form')) {
				createPostRequest('states_form', '/admin/states/create', 'createStatesCB');
			}
		}
		function createStatesCB(r) {
			// console.log('callback', r);
			recordDomOpen();
			let d = r.data;
			if (r.action == "UPDATE") {
				categoryDT.cell(`#${d.stateId}`, 0).data(d.stateName);
				categoryDT.cell(`#${d.stateId}`, 1).data(d.title);
				categoryDT.cell(`#${d.stateId}`, 2).data(d.keyword);
				categoryDT.cell(`#${d.stateId}`, 3).data(d.description);
				categoryDT.cell(`#${d.stateId}`, 4).data(d.seoTitle);
				categoryDT.cell(`#${d.stateId}`, 5).data(d.seoDescription);
				categoryDT.cell(`#${d.stateId}`, 6).data(d.seoContent);
				categoryDT.cell(`#${d.stateId}`, 7).data('<i class="fas fa-trash red-text text-center text-danger" onclick="deleteState(this)" style="cursor: pointer;"></i>');
				categoryDT.draw();
			} else {
				categoryDT.row.add({
					DT_RowId: d.stateId,
					stateName: d.stateName,
					title: d.title,
					keyword: d.keyword,
					description: d.description,
					seoTitle: d.seoTitle,
					seoDescription: d.seoDescription,
					seoContent: d.seoContent,
					action: '<i class="fas fa-trash red-text text-center text-danger" onclick="deleteState(this)" style="cursor: pointer;"></i>',
				}).draw();

			}

		}
		function deleteState(btn) {
			var id = btn.parentNode.parentNode.id;
			console.log(id);
			createGetRequest('states_form', '/admin/states/delete/' + id, 'deleteStateCB');
		}
		function deleteStateCB(r) {
			console.log(r);
			categoryDT.row(`#${r.data}`).remove().draw();
		}

	</script>

</html>