<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::div.container-fluid})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
<div class="row">
		<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Change Password</h2>
	    			<form action="#" th:action="@{/admin/change-password}" method="post" >
					<!-- <div class="form-group">
					    <label for="editorEmail">Old Password</label>
					    <input type="email" name="editorEmail" th:value="${webaddress.editorEmail}" class="form-control" th:classappend="${#fields.hasErrors('editorEmail')? 'is-invalid':''}" id="editorEmail"   placeholder="Enter Editor Email"  />
					    <div th:each="e : ${#fields.errors('editorEmail')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <input type="hidden" name="id" th:value="${user.id}"> -->
					  
					  <div class="form-group">
					    <label for="infoEmail">New Password</label>
					    <input type="text" name="new_password"  class="form-control"  id="new_password"   placeholder="Enter Password" required />
					    <div  for="new_password" class="invalid-feedback"></div>
					   </div>
					   <div class="d-flex justify-content-end my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						 <!--  <button type="reset" class="btn btn-warning  btn-sm px-5">Reset</button> -->
						</div>
					</form>

	    		</div>
				</div>
			</div>
	</div>
</div>
</body>
</html>