<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="~{admin/adminbase_layout :: myhead}"></th:block>
		<title>Insert title here</title>
	</head>

	<body>
		<div class="container-fluid" th:replace="~{admin/adminbase_layout :: contentDom}">
			<section id="myContent">
				<div class="row">
					<div class="col-12">
						<div class="card  rounded-0 mb-3">
							<div class="card-header d-flex justify-content-between">
								<h4>Seo Setup</h4>
								<div class="d-flex justify-content-end">
									<button type="button" class="btn btn-primary btn-sm rounded-0 text-white mx-1"
										onclick="showLogoDom()">Logo</button>
									<button type="button" class="btn btn-primary btn-sm rounded-0 text-white mx-1"
										onclick="showBannerDom()">Banner</button>
									<button type="button" class="btn btn-primary btn-sm rounded-0 text-white mx-1"
										onclick="showAddressDom()">Address</button>
									<button type="button" class="btn btn-primary btn-sm rounded-0 text-white mx-1"
										onclick="showSocialDom()">Social</button>
									<button type="button" class="btn btn-info btn-sm rounded-0 text-white mx-1x"
										onclick="showSeoDom()">Back</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-3 col-12 mx-auto" id="seoFormDom" style="display: block;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Home Seo</h4>
								</div> 
								<form id="home_seo_form">
									<input type="hidden" name="id" th:value="${homeseo?.id}" id="id">
									<div class="row">
										<div class="form-group col">
											<label for="title">Title</label>
											<input type="text" name="title" th:value="${homeseo?.title}" class="form-control" id="title"
												placeholder="Enter title" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="keyword">Keyword</label>
											<input type="text" name="keyword" th:value="${homeseo?.keyword}" class="form-control" id="keyword"
												placeholder="Enter keyword" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="description">Description </label>
											<input type="text" name="description" th:value="${homeseo?.description}" class="form-control"
												id="description" placeholder="Enter Description" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="seoTitle">Seo Title</label>
											<input type="text" name="seoTitle" th:value="${homeseo?.seoTitle}" class="form-control"
												id="seoTitle" placeholder="Enter Seo Title" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="seoDescription">Seo Description </label>
											<input type="text" name="seoDescription" th:value="${homeseo?.seoDescription}"
												class="form-control" id="seoDescription" placeholder="Seo Description" />
											<div class="invalid-feedback">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label for="seoContent">Seo Content </label>
											<textarea type="text" name="seoContent" th:text="${homeseo?.seoContent}" rows="2"
												class="form-control rounded-0" id="seoContent" placeholder="Seo Content"></textarea>
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="addSeo()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>
					<div class="col-md-6 mb-3 col-12 mx-auto" id="addressFormDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Home Address</h4>
								</div>
								<form id="address_form">
									<input type="hidden" name="id" th:value="${webaddress?.id}" id="id">
									<div class="row">
										<div class="form-group col">
											<label for="editorEmail">Editor Email</label>
											<input type="text" name="editorEmail" th:value="${webaddress?.editorEmail}" class="form-control"
												id="editorEmail" placeholder="Enter Editor Email" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="infoEmail">Info Email</label>
											<input type="text" name="infoEmail" th:value="${webaddress?.infoEmail}" class="form-control"
												id="infoEmail" placeholder="Enter Info Email" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="adminEmail">Admin Email </label>
											<input type="text" name="adminEmail" th:value="${webaddress?.adminEmail}" class="form-control"
												id="adminEmail" placeholder="Enter Admin Email" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="phone">Phone Number</label>
											<input type="text" name="phone" th:value="${webaddress?.phone}" class="form-control" id="phone"
												placeholder="Enter Phone Number" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="phone2">WhatsApp Number</label>
											<input type="text" name="phone2" th:value="${webaddress?.phone2}" class="form-control" id="phone2"
												placeholder="Enter WhatsApp Number" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label for="Address">Address </label>
											<textarea type="text" name="Address" th:text="${webaddress?.Address}" rows="2"
												class="form-control rounded-0" id="Address" placeholder="Address"></textarea>
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="addAddress()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>
					<div class="col-md-6 mb-3 col-12 mx-auto" id="logoFormDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Logo</h4>
								</div>
								<img th:src="@{'/image/'+${homeLogo?.logo}}" style="height:2.5rem;width:4rem;" class="my-2">
								<!-- <form action="" th:action="@{/admin/create_maincategory}" method="post" th:object="${maincat}"> -->
								<form id="logo_form" enctype="multipart/form-data">
									<input type="hidden" name="id" id="id"  th:value="${homeLogo?.id}">
									<input type="hidden" name="logo" id="logo"  >
									<div class="row">
										<div class="form-group col">
											<label for="file">Logo</label>
											<input type="file" name="multipartfile" class="form-control" id="multipartfile"
												placeholder="Enter title" />
											<div class="invalid-feedback"></div>
										</div>
									</div>

									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="addLogo()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-3 col-12 mx-auto" id="bannerFormDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Banner</h4>
								</div>
								<img th:src="@{'/image/'+${homebanner?.banner}}" style="height:6rem;width:100%;" class="my-2">
								<form id="banner_form">
									<div class="form-group ">
										<label for="title">Title</label>
										<input type="text" name="title" th:value="${homebanner?.title}" class="form-control" id="title"
											placeholder="Enter keyword" />
										<div class="invalid-feedback"></div>
									</div>
									<div class="form-group ">
										<label for="multipartfile">Description </label>
										<input type="file" name="multipartfile" class="form-control" id="multipartfile"
											placeholder="Enter Description" />
										<div class="invalid-feedback"></div>
									</div>
									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="createPage()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>
					<div class="col-md-8 mb-3 col-12 mx-auto" id="socialFormDom" style="display: none;">
						<div class="card rounded-0">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="text-center">Social Sharing</h4>
								</div> 
								<form id="social_form">
									<input type="hidden" name="id" id="id" th:value="${websocial?.id}">
									<div class="row">
										<div class="form-group col">
											<label for="facebook">Facebook Link</label>
											<input type="text" name="facebook" th:value="${websocial?.facebook}" class="form-control"
												id="facebook" placeholder="Enter Facebook" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="instagram">Instagram Link</label>
											<input type="text" name="instagram" th:value="${websocial?.instagram}" class="form-control"
												id="instagram" placeholder="Enter Instagram" />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="twitter">Twitter Link </label>
											<input type="text" name="twitter" th:value="${websocial?.twitter}" class="form-control"
												id="twitter" placeholder="Enter Twitter" />
											<div class="invalid-feedback"></div>
										</div>
										<div class="form-group col">
											<label for="linkedin">Linkedin Link</label>
											<input type="text" name="linkedin" th:value="${websocial?.linkedin}" class="form-control"
												id="linkedin" placeholder="Enter Linkedin " />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label for="gethub">Github Link </label>
											<input type="text" name="gethub" th:value="${websocial?.gethub}" class="form-control" id="gethub"
												placeholder="Enter Github" />
											<div class="invalid-feedback">
											</div>
										</div>
										<div class="form-group col">
											<label for="Youtube">Youtube Link</label>
											<input type="text" name="youtube" th:value="${websocial?.youtube}" class="form-control"
												id="Youtube" placeholder="Enter Youtube " />
											<div class="invalid-feedback"></div>
										</div>
									</div>
									<div class="form-group ">
										<label for="gmail">Gmail Link </label>
										<input type="text" name="gmail" th:value="${websocial?.gmail}" class="form-control" id="gmail"
											placeholder="Enter gmail" />
										<div class="invalid-feedback">
										</div>
									</div>
									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-warning  btn-sm px-5 rounded-0"
											style="margin-right: 7px;">Reset</button>
										<button type="button" onclick="addSocial()"
											class="btn btn-primary  btn-sm px-5 rounded-0">Submit</button>
									</div>
								</form>

							</div>
						</div>
					</div>

				</div>
			</section>

		</div>
	</body>
	<th:block th:include="admin/adminbase_layout :: myscript">
	</th:block>
	<script>
		function showLogoDom() {
			showAndHideAnyDom('#logoFormDom', '#seoFormDom, #socialFormDom, #addressFormDom, #bannerFormDom');
		}
		function showAddressDom() {
			showAndHideAnyDom('#addressFormDom','#seoFormDom, #socialFormDom, #logoFormDom, #bannerFormDom');
		}
		function showSocialDom() {
			showAndHideAnyDom('#socialFormDom', '#seoFormDom, #addressFormDom, #logoFormDom, #bannerFormDom');
		}
		function showSeoDom() {
			showAndHideAnyDom('#seoFormDom', '#socialFormDom, #addressFormDom, #logoFormDom, #bannerFormDom');
		}
		function showBannerDom() {
			showAndHideAnyDom('#bannerFormDom', '#socialFormDom, #addressFormDom, #logoFormDom, #seoFormDom');
		}
		function addSeo() {
			if (formValidate('home_seo_form')) {
				createPostRequest('home_seo_form', '/admin/seo/create', 'addAddressCB');
			}
		}
		function addAddress() {
			if (formValidate('address_form')) {
				createPostRequest('address_form', '/admin/webaddress/create', 'addAddressCB');
			}
		}
		function addSocial() {
			if (formValidate('social_form')) {
				createPostRequest('social_form', '/admin/social/create', 'addAddressCB');
			}
		}
		function addLogo() {
			if (formValidate('logo_form')) {
				// createPostRequest('logo_form', '/admin/logo/update', 'addAddressCB');
				uploadFiles('logo_form', '/admin/logo/update', 'addAddressCB');
			}
		}
		function addAddressCB(r) {
			console.log(r);
		}
		function deleteState(btn) {
			var id = btn.parentNode.parentNode.id;
			console.log(id);
			createGetRequest('address_form', '/admin/states/delete/' + id, 'deleteStateCB');
		}
		function deleteStateCB(r) {
			console.log(r);
			categoryDT.row(`#${r.data}`).remove().draw();
		}

	</script>

</html>