<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::div.container-fluid})">>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
<div class="row">
		<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Setup Home Seo </h2>
	    			<form action="" th:action="@{/admin/setup_homeSeo}" method="post" th:object="${homeseo}">
					<div class="form-group">
					    <label for="title">Title</label>
					    <input type="text" name="title" th:value="${homeseo?.title}" class="form-control" th:classappend="${#fields.hasErrors('title')? 'is-invalid':''}" id="title"   placeholder="Enter title"  />
					    <div th:each="e : ${#fields.errors('title')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <div class="form-group">
					    <label for="keyword">Keyword</label>
					    <input type="text" name="keyword" th:value="${homeseo?.keyword}"  class="form-control" th:classappend="${#fields.hasErrors('keyword')? 'is-invalid':''}" id="keyword"   placeholder="Enter keyword"  />
					    <div th:each="e : ${#fields.errors('keyword')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="description">Description </label>
					    <input type="text" name="description" th:value="${homeseo?.description}"  class="form-control" th:classappend="${#fields.hasErrors('description')? 'is-invalid':''}" id="description"   placeholder="Enter Description"  />
					    <div th:each="e : ${#fields.errors('description')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					  <div class="form-group">
					    <label for="seoTitle">Seo Title</label>
					    <input type="text" name="seoTitle" th:value="${homeseo?.seoTitle}"  class="form-control" th:classappend="${#fields.hasErrors('seoTitle')? 'is-invalid':''}"  id="seoTitle" placeholder="Enter Seo Title"  />
					  <div th:each="e : ${#fields.errors('seoTitle')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="seoDescription">Seo Description </label>
					    <input type="text" name="seoDescription" th:value="${homeseo?.seoDescription}"  class="form-control" th:classappend="${#fields.hasErrors('seoDescription')? 'is-invalid':''}" id="seoDescription"   placeholder="Seo Description"  />
					    <div th:each="e : ${#fields.errors('seoDescription')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="seoContent">Seo Content </label>
					    <input type="text" name="seoContent" th:value="${homeseo?.seoContent}"  class="form-control" th:classappend="${#fields.hasErrors('seoContent')? 'is-invalid':''}" id="seoContent"   placeholder="Seo Content"  />
					    <div th:each="e : ${#fields.errors('seoContent')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						  <button type="reset" class="btn btn-warning  btn-sm px-5">Reset</button>
						</div>
					</form>

	    		</div>
				</div>
			</div>
		

		<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Setup Home Address</h2>
	    			<form action="" th:action="@{/admin/setup_homeAddress}" method="post" th:object="${webaddress}">
					<div class="form-group">
					    <label for="editorEmail">Editor Email</label>
					    <input type="email" name="editorEmail" th:value="${webaddress?.editorEmail}" class="form-control" th:classappend="${#fields.hasErrors('editorEmail')? 'is-invalid':''}" id="editorEmail"   placeholder="Enter Editor Email"  />
					    <div th:each="e : ${#fields.errors('editorEmail')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <div class="form-group">
					    <label for="infoEmail">Info Email</label>
					    <input type="email" name="infoEmail" th:value="${webaddress?.infoEmail}"  class="form-control" th:classappend="${#fields.hasErrors('infoEmail')? 'is-invalid':''}" id="infoEmail"   placeholder="Enter Info Email"  />
					    <div th:each="e : ${#fields.errors('infoEmail')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="adminEmail">Admin Email </label>
					    <input type="email" name="adminEmail" th:value="${webaddress?.adminEmail}"  class="form-control" th:classappend="${#fields.hasErrors('adminEmail')? 'is-invalid':''}" id="adminEmail"   placeholder="Enter Admin Email"  />
					    <div th:each="e : ${#fields.errors('adminEmail')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					  <div class="form-group">
					    <label for="phone">Phone Number</label>
					    <input type="text" name="phone" th:value="${webaddress?.phone}"  class="form-control" th:classappend="${#fields.hasErrors('phone')? 'is-invalid':''}"  id="phone" placeholder="Enter phone Number"  />
					  <div th:each="e : ${#fields.errors('phone')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="phone2">WhatsApp Number </label>
					    <input type="text" name="phone2" th:value="${webaddress?.phone2}"  class="form-control" th:classappend="${#fields.hasErrors('phone2')? 'is-invalid':''}" id="phone2"   placeholder="WhatsApp Number "  />
					    <div th:each="e : ${#fields.errors('phone2')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="Address">Address</label>
					    <input type="text" name="Address" th:value="${webaddress?.Address}"  class="form-control" th:classappend="${#fields.hasErrors('Address')? 'is-invalid':''}" id="Address"   placeholder="Address"  />
					    <div th:each="e : ${#fields.errors('Address')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						  <button type="reset" class="btn btn-warning  btn-sm px-5">Reset</button>
						</div>
					</form>

	    		</div>
				</div>
			</div>

			<div class="col-md-6 mx-auto mt-3">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Setup Social sharing</h2>
	    			<form action="" th:action="@{/admin/setup_homesocial}" method="post" th:object="${websocial}">
					<div class="form-group">
					    <label for="facebook">Facebook Link</label>
					    <input type="text" name="facebook" th:value="${websocial?.facebook}" class="form-control" th:classappend="${#fields.hasErrors('facebook')? 'is-invalid':''}" id="facebook"   placeholder="Enter Facebook Link"  />
					    <div th:each="e : ${#fields.errors('facebook')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <div class="form-group">
					    <label for="instagram">Instagram Link</label>
					    <input type="text" name="instagram" th:value="${websocial?.instagram}"  class="form-control" th:classappend="${#fields.hasErrors('instagram')? 'is-invalid':''}" id="instagram"   placeholder="Enter Instagram Link"  />
					    <div th:each="e : ${#fields.errors('instagram')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="twitter">twitter Link </label>
					    <input type="text" name="twitter" th:value="${websocial?.twitter}"  class="form-control" th:classappend="${#fields.hasErrors('twitter')? 'is-invalid':''}" id="twitter"   placeholder="Enter Twitter Link"  />
					    <div th:each="e : ${#fields.errors('twitter')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					  <div class="form-group">
					    <label for="linkedin">linkedin Link</label>
					    <input type="text" name="linkedin" th:value="${websocial?.linkedin}"  class="form-control" th:classappend="${#fields.hasErrors('linkedin')? 'is-invalid':''}"  id="linkedin" placeholder="Enter linkedin Link"  />
					  <div th:each="e : ${#fields.errors('linkedin')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="gethub">Github Link </label>
					    <input type="text" name="gethub" th:value="${websocial?.gethub}"  class="form-control" th:classappend="${#fields.hasErrors('gethub')? 'is-invalid':''}" id="gethub"   placeholder="Github Number "  />
					    <div th:each="e : ${#fields.errors('gethub')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="Youtube">Youtube Link</label>
					    <input type="text" name="Youtube" th:value="${websocial?.Youtube}"  class="form-control" th:classappend="${#fields.hasErrors('Youtube')? 'is-invalid':''}" id="Youtube"   placeholder="Youtube Link"  />
					    <div th:each="e : ${#fields.errors('Youtube')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="gmail">Gmail Link</label>
					    <input type="text" name="gmail" th:value="${websocial?.gmail}"  class="form-control" th:classappend="${#fields.hasErrors('gmail')? 'is-invalid':''}" id="gmail"   placeholder="Gmail Link"  />
					    <div th:each="e : ${#fields.errors('gmail')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						  <button type="reset" class="btn btn-warning  btn-sm px-5">Reset</button>
						</div>
					</form>

	    		</div>
				</div>
			</div>



			<div class="col-md-6 mx-auto mt-3">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Setup Logo & Banner</h2>
	    		<div class="my-2">
	    			<h4>Logo</h4>
	    			<form action="" th:action="@{/admin/setup_homeLogo}" method="post" enctype="multipart/form-data" th:object="${homelogo}">
					<img th:src="@{'/image/'+${homelogo.logo}}" style="height:2.5rem;width:4rem;" class="my-2">
					<div class="md-form md-outline">
		                <input type="file" name="multipartfile" id="multipartfile"  required="">
		              </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						</div>
					</form>
				</div>
				<div class="my-2">
					<h4>Banner</h4>
	    			<form action="" th:action="@{/admin/setup_homebanner}" method="post" enctype="multipart/form-data" th:object="${homebanner}">
	    				<img th:src="@{'/image/'+${homebanner.banner}}" style="height:6rem;width:100%;" class="my-2">
	    				
	    				<div class="md-form md-outline">
		                <input type="text" name="title" id="title" th:value="${homebanner?.title}" class="form-control" >
		                <label for="title" >Banner Title</label>
		              </div>
					<div class="md-form md-outline">
		                <input type="file" name="multipartfile" id="multipartfile"  required="">
		              </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						</div>
					</form>
				</div>
	    		</div>
				</div>
			</div>




	</div>
</div>
</body>
</html>