<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::div.container-fluid})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
	<section>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="card">
					<div class="card-body">
	    		<h2 class="text-center">Create New City</h2>
	    			<form action="" th:action="@{/admin/city/update}" method="post" th:object="${cities}">
	    				<input type="hidden" name="cityId" th:value="${cities.cityId}">
	    				<div class="md-form md-outline">
		                  <select name="stateName" id="stateName" class="select form-control"  required="">
		                  <option disabled="" selected="">Select Main Category</option>
		                  <option  th:each="m : ${allstates}" th:value="${m.stateName}"><span th:text="${m.stateName}"></span></option>
		                </select>
		              </div>
	    				<div class="form-group">
					    <label for="cityName">Category Name</label>
					    <input type="text" name="cityName" th:value="${cities.cityName}" class="form-control" th:classappend="${#fields.hasErrors('cityName')? 'is-invalid':''}" id="cityName"   placeholder="City Name"  />
					    <div th:each="e : ${#fields.errors('cityName')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <div class="form-group">
					    <label for="title">Title</label>
					    <input type="text" name="title" th:value="${cities.title}" class="form-control" th:classappend="${#fields.hasErrors('title')? 'is-invalid':''}" id="title"   placeholder="Enter title"  />
					    <div th:each="e : ${#fields.errors('title')}" th:text="${e}" class="invalid-feedback"></div>
					  </div>
					  <div class="form-group">
					    <label for="keyword">Keyword</label>
					    <input type="text" name="keyword" th:value="${cities.keyword}"  class="form-control" th:classappend="${#fields.hasErrors('keyword')? 'is-invalid':''}" id="keyword"   placeholder="Enter keyword"  />
					    <div th:each="e : ${#fields.errors('keyword')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="description">Description </label>
					    <input type="text" name="description" th:value="${cities.description}"  class="form-control" th:classappend="${#fields.hasErrors('description')? 'is-invalid':''}" id="description"   placeholder="Enter Description"  />
					    <div th:each="e : ${#fields.errors('description')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					  <div class="form-group">
					    <label for="seoTitle">Seo Title</label>
					    <input type="text" name="seoTitle" th:value="${cities.seoTitle}"  class="form-control" th:classappend="${#fields.hasErrors('seoTitle')? 'is-invalid':''}"  id="seoTitle" placeholder="Enter Seo Title"  />
					  <div th:each="e : ${#fields.errors('seoTitle')}" th:text="${e}" class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="seoDescription">Seo Description </label>
					    <input type="text" name="seoDescription" th:value="${cities.seoDescription}"  class="form-control" th:classappend="${#fields.hasErrors('seoDescription')? 'is-invalid':''}" id="seoDescription"   placeholder="Seo Description"  />
					    <div th:each="e : ${#fields.errors('seoDescription')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="form-group">
					    <label for="seoContent">Seo Content </label>
					    <input type="text" name="seoContent" th:value="${cities.seoContent}"  class="form-control" th:classappend="${#fields.hasErrors('seoContent')? 'is-invalid':''}" id="seoContent"   placeholder="Seo Content"  />
					    <div th:each="e : ${#fields.errors('seoContent')}" th:text="${e}"  class="invalid-feedback"></div>
					   </div>
					   <div class="d-flex justify-content-between my-2">
						  <button type="submit" class="btn btn-primary  btn-sm px-5">Submit</button>
						  <button type="reset" class="btn btn-warning  btn-sm px-5">Reset</button>
						</div>
					</form>

	    		</div>
				</div>
			</div>



		</div>
	</section>
</div>
</body>
</html>