<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <th:block th:include="~{base_layout :: myhead}"></th:block>
    <title>Insert title here</title>

  </head>

  <body>
    <style>
      .navbar {
        display: none;
      }
    </style>
    <div class="container" th:replace="~{base_layout :: contentDom}">
      <div id="myContent">
        <section>
          <div class="row">
            <div class=" col-12 mx-auto">
              <div class="error_404">
                <div class="text-center">
                  <div class="display-1">403</div>
                  <div class="display-4 mb-1">Access Denied</div>
                  <h1>You don't have permission to view this resources !!</h1>
                  <a href="/" class="badge  text-bg-danger mt-3">Go To Home</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <th:block th:include="base_layout :: myscript">
  </th:block>



</html>