header .navbar a{color:#fff!important;}header .navbar a:hover{color:orange !important;}
.bg-prime{background-color:#009999!important;}
body{background:#e2e2e2!important;}.breadcrumb{background:#e2e2e2!important;font-size: 14px;text-transform: capitalize;}
.navbar-brand img{font-size:1rem;}footer{background:#ffff!important;}
/*index page css*/
.card-title,h1,h2{text-transform: capitalize;}
.custom-scrollbar li{letter-spacing: 1.2px;border-bottom:1px solid grey;}
.custom-scrollbar li a{padding: 7px 5px 5px 15px;color: black;letter-spacing: 1.2px;text-transform: capitalize;}
.home-carousel .carousel-item {height:23vh;}.home-carousel .carousel-item .view img {width: 100%;}
.post-carousel .carousel-item {height:55vh;}.post-carousel .carousel-item .view img {width: 100%;}
/* post page css */

/*admin search input and resultbox css*/
.search-box-container{position: relative;}
.search-box-container #search_result{position: absolute;background:#e2e2e2;z-index:999;width:100%;margin-top: -1.5rem;}
a{text-decoration: none !important;}
.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
a.dashbar_logo, .dashbar_logo{color: red !important;
font-size: 1.5rem;
text-decoration: none;
font-weight: 800;}
a.nav-link{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.32px;
  color: #898282;
  }
  .offcanvas-body .dropdown-menu li a{
    font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.32px;
      color: #898282;
  
  }
@media(max-width:768px){
.offcanvas-body .dropdown-menu{
  border: 0px;
  width: 100%;
  padding: 2px 5px;
}
.offcanvas-body .dropdown-menu li a{
  margin-left: -0.25rem;
  padding-left: 0px;

}

.offcanvas-body .dropdown-menu li a:hover{
  margin-left: -0.05rem;
  padding-left: 0px;
  font-weight: 700;
  font-size: 17px;
}
}
form input[type="text"] {
  height: 40px;
  border-radius: 0px;
}
form label{
  font-size: 17px;
    font-weight: 400;
    margin-bottom: 4px;
    text-transform: capitalize;
}
form .form-group{
  margin-bottom: 1rem;
}

/* filter card  */
.card-f{
  border-radius: 0px !important;
  /* height: 35rem !important; */
}
.card-f li{
  padding: 8px 2px;
}
.card-f ul a{
  color: rgb(83 89 97);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
/* blog card */
.card-b{
  border-radius: 15px 15px 0px 0px !important;
  height: 25rem !important;
  margin-bottom:7px;
}
.card-b img{
  border-radius: 15px 15px 20px 20px;
  height: 12rem;
}
.card-b .card-f{
  justify-content: space-between !important;
  background-color: #ffff;
}
.card-b .fa-heart{
  color: #898282;
  cursor: pointer;
}
.card-b .fa-heart:hover{
  color: #009999;
}
.card-title-line-limit{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.card-text-line-limit{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
html{
  overflow-y: scroll;
}
html::-webkit-scrollbar{
  width: 2px;
  background-color: #a9a4a4;
  border-radius: 10px;
}
html::-webkit-scrollbar-track{
  width: 2px;
  background-color: #a9a4a4;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
html::-webkit-scrollbar-thumb{
  background-color: #009999;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fs-icon a i {
  padding: 10px;
  background-color: grey;
  border-radius: 8px;
  color: #ffff;
}

div.sticky{
  position: sticky;
  top: 75px;
}
ul.li_padding li{
  padding-left: 25px;
}

/* filter scc */
.selected-icon{
  margin-left: 6px;
  color:#ffff;
}
.selected-icon:hover{
  color:#f11c1c;
}
#selectedDom span{
  margin-right: 7px;
}

/* filter scc */