<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="myhead (pageTitle,pageDesc)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">admin base head</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descriptoin" th:content="${pageDesc}"></meta>
  </head>

  <body>
    <div class="container-fluid" th:fragment="mainContent">
      <div th:include=":: #subtitle"></div>
    </div>
  </body>
  <div class="footer" th:fragment="myFooter">
    <div>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
    </div>
  </div>

</html>