<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{base_layout :: myhead}"></th:block>
  <title>Insert title here</title>
  
</head>

  <body>
    <div class="container-fluid" th:replace="~{base_layout :: contentDom}">
			<div id="myContent">
        <section>
          <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb " class="my-0 py-0">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">One to Z</a></li>
                  <li class="breadcrumb-item"><a th:href="@{'/'+${title}}"><span th:text="${title}"></span></a></li>
                  <li class="breadcrumb-item active" aria-current="page"><span th:text="${title}"></span></li>
                </ol>
            </nav>
            </div>

          </div>
        </section>
        <section>
          <div class="row mt-3">
            <div class="col-md-3 " >
              <div class="card card-f" >
                <div class="card-header bg-white">
                 <h4> Featured Categories:</h4>
                </div>
                <div class="card-body py-0"> 
                  <ul class="list-group list-group-flush">
                    <li  class="list-group-item" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     <a> Link with href</a>
                    </li> 
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Some placeholder content for the collapse 
                     </div>
                  </div>
                    <li class="list-group-item" th:each="m : ${mainCates}">
                      <a th:href="@{'/'+${m?.mainCatalog}}" class="collapsible-header waves-effect d-block">
                        <span th:text="${m?.mainCatalog}"></span><i class="fas fa-angle-double-right float-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4"  th:each="b : ${blogs}">
                  <div class="card card-b">
                    <!-- <img th:src="@{'/image/'+${b?.image}}" class="card-img-top" alt="..."> -->
                    <img th:src="@{'/image/Desert.jpg'}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a  th:text="${b?.title}" class="card-title stretched-link">Card title</a>
                      <p class="card-text">Some quick example text to build  bulk of the card's content.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-white">
                      <div href="#" class="card-link"><i class="fas fa-heart mr-2"></i></div>
                      <div href="#" class="card-link"><span th:text="${b?.city}"></span> <i class="fas fa-map-marker-alt ml-1"></i></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
     </div>
    </div>
  </body>
	<th:block th:include="base_layout :: myscript">
	</th:block>
  <div th:insert="~{base_layout :: myFooter}">
    <span>demo page</span>
  </div>
</html>