<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{admin_base :: myhead (pageTitle=${title},pageDesc=${disc})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <div class="container" th:include="~{admin_base :: mainContent}">
      <p id="subtitle"> JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-vi</p>
    </div>
  </body>
  <div th:insert="~{admin_base :: myFooter}">
    <span>demo page</span>
  </div>
</html>