<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="~{base_layout :: myhead}"></th:block>
    <title>Insert title here</title>
  </head>
  <body>
    <div class="container-fluid" th:replace="~{base_layout :: contentDom}">
      <div id="myContent">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div class="card">
						<div class="card-body">
							<div class="card-title text-center h4">Privacy Policy</div>
							<p><strong>
								  Onetoz respects the privacy of its users, whether they use the website at <a href="www.onetoz.com">www.onetoz.com</a> or access it through other media for purposes of interactions with other individuals or for advertising and marketing needs or simply to view the website. This privacy policy is to inform you, the user, about the information that the forum may gather about you through your activities on the website. Any changes to the policy are and will be mentioned at the end of this document and thus, it is imperative that every time you log in, you go through the changes in our privacy policy, if any. </strong></p>
								  <p><strong>Our website is hosted in India and by agreeing to use this website you also agree to abide by the laws and regulations associated thereof and mentioned in the Indian law.</strong></p>
								   <p><strong>By using the website, you accept that you have understood the points mentioned in this privacy policy and agree with them.	
								</strong></p>
							<p>
								A user who signs up for our website guarantees that he or she is above 13 years of age. The Indian law states that children below the age of 13 years are incompetent to get into any legal binding or contract and keeping this in mind, we do not knowingly collect any information from the account of a user aged below 13 years, unless permitted by law. If anything contradicting this is proved, we will take appropriate action.
The Onetoz gathers Non-Personally Identifiable Information about its users such as IP address, browser type, operating system, websites visited right before logging into our site and the like. Once the user has signed out of our website, we study this kind of information to understand the usage of the site in a better way and to improve our services.
							</p>
							<p>
								Our website uses Web Cookies to save data such as associated with your password and username and user preferences so that you stay logged on to the site and purchase procedures are simpler. Those who do not want cookies to be saved on their systems must set their browsers to refuse cookies before logging on to our website.
							</p>
							<p>
								Our website uses Web Beacons to access certain user trends such as whether you have visited certain pages or not, whether you have read emails or not but not for accessing personal information. You may opt out of it by choosing to not save Web Cookies altogether.
The website may use third party advertisements and these parties may access information related to you accessible through Web Cookies. Please contact us if you want to stop third party advertisements to access information about you.
							</p>
							<p>
The website asks its users to submit certain Personally Identifiable Information such as email id, name, address, contact number, interests, profession the like. Users are at freedom to provide or refrain from providing such information to the website knowing that refraining may lead to limitation of usage of certain features of the website.
							</p>
							<p>
								As a user, you take complete responsibility for loss of privacy by willingly submitting personal information on the website through its different forums, discussions and at other sections.
							</p>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- <input type="hidden" th:value="${mainCat}" th:id="maincat"> -->
</body>
<th:block th:include="base_layout :: myscript">
</th:block>
<div th:insert="~{base_layout :: myFooter}">
<span>Footer Error</span>
</div>
</html>